@model ProjectsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit  Project </h1>
<br />
<br />
<form asp-action="Edit" asp-controller="Project">
    <div asp-validation-summary="All"></div>@*List The Whole Error Message*@
    <partial name="PartialViews/_CreateEditPartialView" />

   

    <br />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptSection
    {
    <partial name="_ValidationScriptsPartial" />
}

