@model RoleViewModel

<div class="from-group">
    <label asp-for="@Model.RoleName" class="col-form-label"></label>
    <input asp-for="@Model.RoleName" class="form-control" />
    <span asp-validation-for="@Model.RoleName" class="text-danger"></span>

</div>
