@model MyServiceViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Services </h1>
<br />
<br />
<form asp-action="Create" enctype="multipart/form-data">
    @*All Types *@
    <partial name="PartialViews/_CreateEditPartialView" />



    <br />

    <input type="submit" value="submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}

